@charset "utf-8";
* {
    box-sizing: border-box;
}

html,
body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background-color: #fbfbfb;
}

a {
    text-decoration: none;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#bar {
    position: fixed;
    background-color: #444;
    width: 75px;
    height: 100%;
}

#bar_menu {
    width: 100%;
    height: 250px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.test_icon {
    background-color: #00d4aa;
    width: 45px;
    height: 45px;
}

#field {
    margin-left: 90px;
    width: calc(100%-90px);
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
}

.timeline {
    margin-left: 20px;
    height: calc(100% - 60px);
    min-width: 300px;
    border: 1px solid #000;
    border-radius: 5px 5px 0px 0px / 5px 5px 0px 0px;
    display: flex;
    flex-direction: column;
}

.timeline_header {
    width: 100%;
    height: 90px;
}

.timeline_tweets {
    width: 100%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}